body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.chat-container {
  display: flex;
  height: 90vh;
  overflow: hidden;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .user-list {
    min-width: 300px;
    position: absolute;
    height: 100%;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .chat-area {
    width: 100%;
  }

  .chat-container.show-users .user-list {
    transform: translateX(0);
  }

  .chat-container.show-users .chat-area {
    display: none;
  }

  .chat-container.show-chat .user-list {
    display: none;
  }

  .chat-container.show-chat .chat-area {
    display: flex;
  }

  .back-btn {
    display: block;
  }
}